LoadModule mpm_event_module /usr/lib/apache2/modules/mod_mpm_event.so
LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
LoadModule dir_module /usr/lib/apache2/modules/mod_dir.so
LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so

# Explicitly disable TLSv1.3 as having per-path requirements for TLS
# client certifications (as /test-mtls/ uses) is essentially impossible
# see https://gitlab.com/openid/conformance-suite/-/issues/1010#note_799375429
SSLProtocol +TLSv1 +TLSv1.1 +TLSv1.2

TypesConfig /etc/mime.types

Mutex file:/tmp
PidFile httpd.pid

User nobody
ServerTokens Prod
ServerSignature Off

Listen <%= @http_port %>
Listen <%= @https_port %>

ErrorLog /dev/stderr

LogFormat "%h %l %u %t %{Host}i \"%r\" %>s %b" common
CustomLog /dev/stdout common

ProxyPreserveHost on
LimitRequestLine 32768

<Directory />
  AllowOverride None
  Require all denied
</Directory>

<VirtualHost *:<%= @http_port %>>
  # Catch-all to refuse unknown hosts
</VirtualHost>

<% hosts.each do |host, config| %>
<VirtualHost *:<%= @http_port %>>
  ServerName <%= host %>
  RewriteEngine on
  <% config.paths.each do |path, backend, redirect_ssl| %>
  <% if redirect_ssl %>
  RewriteRule "^<%= path %>(.*)$" "https://<%= host %>:<%= @https_port %><%= path %>$1" [R,L]
  <% else %>
  RewriteRule "^<%= path %>(.*)$" "<%= backend %><%= path %>$1" [P]
  <% end %>
  <Location "<%= path %>">
    Require all granted
  </Location>
  <% end %>
  <% config.snippets.each do |snippet| %>
  <%= snippet %>
  <% end %>
</VirtualHost>

<% if (secret = secrets[host]) %>
<VirtualHost *:<%= @https_port %>>
  ServerName <%= host %>
  SSLEngine on
  SSLCertificateFile "<%= secret[:cert_path] %>"
  SSLCertificateKeyFile "<%= secret[:key_path] %>"
  RewriteEngine on
  <% config.paths.each do |path, backend| %>
  RewriteRule "^<%= path %>(.*)$" "<%= backend %><%= path %>$1" [P]
  <Location "<%= path %>">
    Require all granted
  </Location>
  <% end %>
  <% config.snippets.each do |snippet| %>
  <%= snippet %>
  <% end %>
</VirtualHost>
<% end %>
<% end %>
